<!-- <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)"> -->

<div class="row">
    <div class="col-md-6">
      <!-- <div ng-repeat="prop in list">   -->
        <!-- <div *ngIf="{{prop.its}} === D; then thenBlock else elseBlock"></div> -->
        <ng-template #thenBlock>Desayuno</ng-template>
        <ng-template #elseBlock>Almuerzo / Cena</ng-template>
      <!-- </div> -->
    </div>
    <div class="col-md-6">
      <label for="num-table">Número de mesa<input type="number" name="num-table" min="1" max="20"></label>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <select (change)="onChange($event.target.value)">
              <option *ngFor='let menuList of list' [value]="menuList.id">
                {{menuList.item}} - $ {{menuList.price}}
              </option>
          </select>
      </div>
    </div>
    <!-- <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
      </div>
  </form> -->