<div class="row">
  <div class="col-md-12"> 
      <div *ngFor="let item of list">{{item.numOrder+1}}</div>
    <!-- <input type="hidden" [value]="item.numOrder"> -->
    <!-- <select>
        <option *ngFor='let menuList of list'>
            {{menuList.numOrder+1}}
        </option>
    </select> -->

  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <!-- <input name="client" #client="ngModel" [(ngModel)]="service.formDataTicket.client" class="form-control" placeholder="client name" required>
      <div *ngIf="client.invalid && client.touched" class="validation-error">Es un campo requerido.</div>  -->
    </div>
  </div>
</div>
