<div class="row">
  <div class="col-md-12"> 
      <div>Número de Orden: {{numOrder+1}}</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-group">
      <input name="client" class="form-control" placeholder="client name" required (change)="sendInfoOrder()"> 
      <!-- <div *ngIf="client.invalid && client.touched" class="validation-error">Es un campo requerido.</div>  -->
      <!-- #client="ngModel" [(ngModel)]="service.formDataTicket.client"  -->
  </div>
<div class="row">
  <div class="col-md-12">
    <label for="num-table">Número de mesa<input type="number" name="num-table" min="1" max="20"></label>
  </div>
</div>
</div>