<table class="table table-hover">
  <thead>
    <th>Cant.</th>
    <th>Item</th>
    <th>P/U</th>
    <th>Total</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let menu of list">
      <td><input type="number" [(ngModel)]="menu.cant" (change)="onChangeCant(menu.cant, menu.price, menu.id)" min="1" max="99" maxlength="2"></td>
      <td>{{menu.item}}</td>
      <td>{{menu.price}}</td>
      <td>{{menu.total}}</td>
      <td><a class="btn text-danger" (click)="onDelete(menu.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>