<table class="table table-hover">
  <thead>
    <th>Cant.</th>
    <th>Item</th>
    <th>P/U</th>
    <th>Total</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let menu of list">
      <td><input type="number" min="1" max="99" [value]="1" id="cant" name="cant" [(ngModel)]="value" #ctrl="ngModel" (input)="onChangeCant(value)"></td>
      <!-- <input [(ngModel)]="name" #ctrl="ngModel" required> -->
      <td>{{menu.item}}</td>
      <td>{{menu.price}}</td>
      <td>{{menu.price*1}}</td>
      <td><a class="btn text-danger" (click)="onDelete(menu.id)"><i class="fa fa-trash"></i></a></td>
    </tr>

  </tbody>
</table>